.a {
  text-decoration: none;
}

.navbar {
  overflow: visible;
}

.nav-item a {
  color: white;
  text-align: center;
}

#navitem:hover {
  color: white;
  animation: growAndShake infinite ease-in 0.6s;
}

.nav-item a:visited {
  color: #ffffff;
}

.shake:hover {
  color: white;
  animation: growAndShake infinite ease-in 0.6s;
}

@keyframes growAndShake {
  0% {
    transform: scale(1.1) rotate(-3deg);
  }
  25% {
    transform: scale(1.1) rotate(3deg);
  }
  50% {
    transform: scale(1.1) rotate(-3deg);
  }
  75% {
    transform: scale(1.1) rotate(3deg);
  }
  100% {
    transform: scale(1.1) rotate(-3deg);
  }
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b9d2e7;
  min-width: 10rem;
  min-height: 3rem;
  left: 115px;
  transform: translateX(-100%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  justify-content: center;
  border-radius: 5%;
}

.dropdown-content a {
  float: none;
  color: white;
  margin: auto;
  height: 2rem;
  width: 8rem;
  margin-top: 5%;
  border-radius: 10%;
  position: relative;
}
/* Show the dropdown menu on hover */
.show {
  display: block;
}

@media (max-width: 995px) {
  .dropdown-content {
    left: 110px;
    transform: translateX(-100%);
  }
}
