.nama-toko {
  color: #003662;
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: 10rem;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-custom {
  background-color: #2f4858;
  color: white;
}

/* Back button */
.back-button {
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  width: 7rem;
}

/* Hide the button by default */
#cekKeranjang {
  display: none;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000; 
}

.floating-button .btn-keranjang {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #003662; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
}

.floating-button .btn-keranjang:hover {
  background-color: #003662; 
  text-decoration: none;
}

/* Responsive button keranjang saat navbar berubah */
@media (max-width: 991px) {
  .btn-keranjang {
    display: block;
  }
}

/* Responsive */
@media (max-width: 400px) {
  .nama-toko {
    font-size: 2rem;
  }

  .back-button {
    font-size: 1.1rem;
  }
}

@media (min-width: 400px) {
  .nama-toko {
    font-size: 2.5rem;
  }

  .back-button {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .nama-toko {
    font-size: 4rem;
  }

  .back-button {
    align-self: flex-start;
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .nama-toko {
    font-size: 4rem;
    padding-right: 115px;
  }
}

@media (min-width: 1200px) {
  .nama-toko {
    padding-right: 145px;
    font-size: 5rem;
  }
}

@media (min-width: 1400px) {
  .nama-toko {
    padding-right: 165px;
    font-size: 6rem;
  }
}

@media (min-width: 1600px) {
  .nama-toko {
    padding-right: 200px;
    font-size: 6rem;
  }
}
