.greetings {
  font-size: 10rem;
}
.image-container {
  position: relative;
  width: 100%;
  height: 10rem;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}
a:hover {
  text-decoration: none;
  transform: scale(1.05);
}
